body{
    background-image: url(Background.png);
    background-size:cover;
    font-family: Roboto;
    color: white;
}

.search1{
    width: 519px;
    height: 38px;
    background-color: #0f0f0f;
    border: 1px solid rgba(255, 255, 255, .15)
}

.search1:focus{
    border-width: 1px solid #3B82F6;
}

.search2{
    width: 64px;
    height: 38px;
    background-color: rgba(255, 255, 255, .08)
}

input{
    width: 25%;
    height: 100%;
    max-width: 1300px;
    box-decoration-break: none;
    font-size: 16px;
    padding: 1rem;
    outline: none;
    transition: all 0.6s ease 0s;
    opacity: 0.88;
}


.hero-image{
    width: 1190px;
    height: 595px;
    font-family: Roboto;
    font-weight:500;
}

.hero-image-image{
    width: 1190px;
    height: 595px;
}

.color-aaaaaa{
    color: #aaaaaa;
}

.color-f1f1f1{
    background-color: #f1f1f1;
}

.color-0f0f0f{
    color:#0f0f0f;
}

.size-18{
    font-size: 18px;
}

.marginleft-15{
    margin-left: -15px;
}

.description{
    width: 1190px;
    height: 104px;
}

.width-402{
    width: 402px;
}

.side-image{
    width: 168px;
    height: 94px;
}
